<%- include('../partials/header') %>

<h1>Edit Your Beauty Secret Here</h1>
<form action="/beauties/<%= beauty._id %>?_method=PUT " method="POST">
    <label>Brand
        <input type="text" name="brandName" value="<%= beauty.brandName %> ">
    </label>
    <label>Product
        <input type="text" name="productName" value="<%= beauty.productName %> ">
    </label>
    <label> Category
        <select name="category" value="<%= beauty.category %> ">
            <option value="Oil Based Cleanser">Oil Based Cleanser</option>
            <option value="Water Based Cleanser">Water Based Cleanser</option>
            <option value="Toners/Serums">Toners/Serums</option>
            <option value="Moisturizer">Moisturizer</option>
            <option value="Face and Lip Mask">Face and Lip Mask</option>
        </select>
    </label>
    <label>Price: $
        <input type="text" name="price" >
    </label>
    <label>Store:
        <select name="location" value=<%= beauty.location %> >
            <option value="CVS">CVS</option>
            <option value="Online Retailer">Online Retailer</option>
            <option value="Riley Rose">Riley Rose</option>
            <option value="Sephora">Sephora</option>
            <option value="Target">Target</option>
            <option value="Ulta">Ulta</option>
            <option value="Walgreens">Walgreens</option>
            <option value="Walmart">Walmart</option>
        </select>
    </label>
    <label>
        <input type="file" name="image" id="img" accept="image/*" value="<%= beauty.image %> ">
    </label>
    <input type="submit"  value="Submit">
</form>





<%- include('../partials/footer') %>