<%- include('../partials/header') %>

<div id="new-beauty">
    <img id="new-image" src="/images/list-item-img.jpg" alt="">
    <form class="list-items"action="/beauties/<%= beauty._id %>?_method=PUT " method="POST">
        <label>Brand
            <input type="text" name="brandName" value="<%= beauty.brandName %> ">
        </label>
        <label>Product
            <input type="text" name="productName" value="<%= beauty.productName %> ">
        </label>
        <label> Category
            <select name="category" value="<%= beauty.category %> ">
                <option value="Oil Based Cleanser">Oil Based Cleanser</option>
                <option value="Water Based Cleanser">Water Based Cleanser</option>
                <option value="Toners/Serums">Toners/Serums</option>
                <option value="Moisturizer">Moisturizer</option>
                <option value="Face and Lip Mask">Face and Lip Mask</option>
            </select>
        </label>
        <label>Price $
            <input type="text" name="price" value="<%= beauty.price %> ">
        </label>
        <label>Store:
            <select name="location" value=<%= beauty.location %>>
                <option value="CVS">CVS</option>
                <option value="Online Retailer">Online Retailer</option>
                <option value="Riley Rose">Riley Rose</option>
                <option value="Sephora">Sephora</option>
                <option value="Target">Target</option>
                <option value="Ulta">Ulta</option>
                <option value="Walgreens">Walgreens</option>
                <option value="Walmart">Walmart</option>
            </select>
        </label>
        <label>Image
            <input type="text" name="image" id="img" value="<%= beauty.image %> ">
        </label>
        <label>
            <input type="submit" value="Submit">

        </label>
    </form>
</div>





<%- include('../partials/footer') %>