<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Beauty Secrets</title>
</head>
<body>
    <h1>Here are your Beauty Secrets</h1>
    <table>
        <thead>
            <th>Brand</th>
            <th>Product</th>
            <th>Category</th>
            <th>Price</th>
            <th>Location</th>
        </thead>
        <tbody>
            <% beauties.forEach(function(beauty) {%> 
                <tr>
                    <td><%= beauty.brandName %> </td>
                    <td><%= beauty.productName %> </td>
                    <td><%= beauty.category %> </td>
                    <td><%= beauty.price %> </td>
                    <td><%= beauty.location %> </td>
                    <td><a href="/beauties/<%=beauty.id  %>">More info</a></td>
                </tr>
            <% }) %> 
        </tbody>
    </table>
</body>
</html>