<%- include('../partials/header') %>
<div class="product-container">
<% beauties.forEach(function(beauty) {%>
<div class="show-page">
   <form  class="edit-delete" action="/beauties/<%= beauty._id%>?_method=DELETE" Method="POST">
    <button type="submit">X</button>
    <a  href="/beauties/<%= beauty._id %>/edit ">Edit</a>
    </form>
    <p name"brandName"><%= beauty.brandName %> </p>
    <p name="productName" id="product-description"><%= beauty.productName %> </p>
    <p name="category" id="product-description"><%= beauty.category %> </p>
    <img name="image" class="image product-image" src="<%= beauty.image %> " alt="">
    <p name="price" id="product-description">$<%= beauty.price %> </p>
    <p name="location" id="product-description"><%= beauty.location %> </p>
    <p><a href="/beauties/<%=beauty.id  %>">Enter details</a></p>
</div>
<% }) %>
</div>
<%- include('../partials/footer') %>