<%- include('../partials/header') %>
<div class="product-container">
<% beauties.forEach(function(beauty) {%>
<div class="show-page">
   
    <p class="brandName"><%= beauty.brandName %> </p>
    <p class="productName" id="product-description"><%= beauty.productName %> </p>
    <p class="category" id="product-description"><%= beauty.category %> </p>
    <p class="price" id="product-description"><%= beauty.price %> </p>
    <p class="location" id="product-description"><%= beauty.location %> </p>
    <p><a href="/beauties/<%=beauty.id  %>">More info</a></p>
</div>
<% }) %>
</div>
<%- include('../partials/footer') %>